[defaults]
# Point to your local inventory file
interpreter_python = auto_silent
inventory = /home/eran/DevOps_lab/Ansible/my_project/inventory/hosts.yml 

# Turn off SSH host key checking for local lab speed (bypasses the "yes/no" prompt)
host_key_checking = False

# Default remote user for Vagrant boxes
remote_user = vagrant
#vault_password_file = .vault.pass
connection = smart
timeout = 60
deprecation_warnings = False
pipelining=True
forks=100
